project:
  name: mf_etl
  env: dev

paths:
  raw_root: /media/tom/Hdd_240GB/data
  data_root: ./data
  bronze_root: ./data/bronze
  silver_root: ./data/silver
  gold_root: ./data/gold
  artifacts_root: ./artifacts
  logs_root: ./logs

precision:
  bronze_float: float64
  silver_float: float32
  gold_float: float32

parquet:
  compression: zstd
  compression_level: 3
  statistics: true

validation:
  suspicious_range_pct_threshold: 0.5
  suspicious_return_pct_threshold: 0.3
  gap_days_warn_threshold: 7
  bootstrap:
    n_boot: 1000
    ci: 0.95
    mode: iid
    block_length: 10
    random_state: 42
  event_study:
    window_pre: 10
    window_post: 20
    min_events_per_transition: 50
  rolling_stability:
    window_months: 12
    step_months: 3
  scorecard:
    eps: 1.0e-12
    confidence_score_weights:
      sample_size: 0.2
      ci_width: 0.25
      sign_confidence: 0.2
      stability: 0.25
      separation: 0.1
  io:
    write_large_artifacts_default: false

indicators:
  tmf_period: 21
  eps: 1.0e-12
  proxy_period: 21
  float_dtype_override: null

event_grammar:
  pivot_mode: 3bar
  respect_fail_lookahead_bars: 10
  hold_consecutive_bars: 5
  tmf_burst_abs_threshold: 0.15
  tmf_burst_slope_threshold: 0.05
  activity_windows: [5, 20]
  eps: 1.0e-12

gold_features:
  eps: 1.0e-12
  activity_windows: [5, 20]
  score_weights:
    zero: 1.0
    respect: 2.0
    burst: 2.0
    hold: 1.5
  recency_clip_bars: 20
  float_dtype_override: null
  export:
    default_drop_null_key_features: true

validation_walkforward:
  train_end_list_default:
    - 2012-12-31
    - 2014-12-31
    - 2016-12-31
    - 2018-12-31
    - 2020-12-31
  hmm_components_default: 5
  cluster_method_default: gmm
  cluster_k_default: 5
  scaling_scope_default: per_ticker
  continue_on_error_default: true

cluster_qa:
  ret_cv_threshold: 5.0
  min_n_rows: 200
  min_state_share: 0.03
  sign_consistency_threshold: 0.55
  ci_width_quantile_threshold: 0.8
  eps: 1.0e-12

cluster_hardening:
  min_n_rows_hard: 200
  min_state_share_hard: 0.03
  ret_cv_hard: 6.0
  sign_consistency_hard: 0.55
  ci_width_hard_quantile: 0.8
  score_min_allow: 70.0
  score_min_watch: 45.0
  penalties:
    LOW_N: 20
    LOW_OCCUPANCY: 20
    MEAN_NEAR_ZERO_CV_INFLATION: 15
    WIDE_CI: 15
    SIGN_FLIP_ACROSS_WINDOWS: 20
    WINDOW_DRIFT_HIGH: 15
    LIKELY_OUTLIER_WINDOW: 10
    TRANSITIONS_TOO_SPARSE: 10
  weights:
    sample_size: 0.15
    occupancy: 0.15
    sign_confidence: 0.2
    ci_width: 0.15
    sign_consistency: 0.15
    ret_cv: 0.1
    confidence_score: 0.1
  eps: 1.0e-12

backtest:
  signal_mode: state_transition_entry
  exit_mode: horizon_or_state
  hold_bars: 10
  allow_overlap: false
  allow_unconfirmed: false
  equity_mode: event_returns_only
  fee_bps_per_side: 0.0
  slippage_bps_per_side: 0.0
  capital_base: 1.0
  flow_mapping:
    long_states: [1, 2]
    short_states: [3, 4]
    ignore_states: [0]
  hmm_direction_inference:
    source_priority: [state_map, validation_scorecard, profile]
    min_abs_forward_mean_for_direction: 0.0
  cluster_policy:
    default_classes: [ALLOW]
    include_watch_default: false
  nan_policy:
    strict_finite_prices: true
    finite_aggregate_only: true

backtest_policy_overlay:
  default_overlay_mode: none
  join_keys: [ticker, trade_date]
  allow_unknown_for_block_veto: true
  min_overlay_match_rate_warn: 0.80
  dedupe_rule: first
  enable_direction_conflict_metrics: true

backtest_sensitivity:
  progress_every: 10
  max_combos: 500
  stop_on_error: false
  policy_filter_mode_default: allow_only
  include_ret_cv_default: true
  include_tail_metrics_default: true
  report_top_n_default: 10
  min_successful_splits_default: 1
  default_grid:
    hold_bars: [5, 10, 15, 20]
    signal_mode: [state_transition_entry]
    exit_mode: [horizon_or_state]
    fee_bps_per_side: [0.0, 5.0, 10.0]
    slippage_bps_per_side: [0.0]
    allow_overlap: [false]
    equity_mode: [event_returns_only]
    include_watch: [false]
    include_state_sets: [[]]
  ranking_metric_default: expectancy
  robustness_score_weights:
    expectancy_rank: 0.30
    profit_factor_rank: 0.20
    drawdown_score: 0.20
    consistency: 0.15
    cost_robustness: 0.10
    hygiene: 0.05

research_clustering:
  default_feature_list:
    - tmf_21
    - tmf_abs
    - tmf_slope_1
    - tmf_slope_5
    - tmf_slope_10
    - tmf_curvature_1
    - tti_proxy_v1_21
    - tti_proxy_slope_1
    - tti_proxy_slope_5
    - long_flow_score_20
    - short_flow_score_20
    - delta_flow_20
    - flow_activity_20
    - flow_bias_20
    - long_burst_20
    - short_burst_20
    - persistence_pos_20
    - persistence_neg_20
    - oscillation_index_20
    - respect_fail_balance_20
    - rec_tmf_zero_up_20
    - rec_tmf_zero_down_20
    - rec_tmf_burst_up_20
    - rec_tmf_burst_down_20
    - state_run_length
  scaler: standard
  scaling_scope_default: global
  split_mode_default: none
  time_split:
    train_end: null
    test_start: null
    test_end: null
  stability:
    seeds_default: 10
    seed_start_default: 42
  clip_zscore: 8.0
  silhouette_sample_max: 200000
  random_state: 42
  kmeans:
    n_init: 20
    max_iter: 300
  gmm:
    covariance_type: diag
    reg_covar: 1.0e-6
    max_iter: 200
  forward_windows: [5, 10, 20]

research_hmm:
  default_feature_list:
    - tmf_21
    - tmf_abs
    - tmf_slope_1
    - tmf_slope_5
    - tmf_slope_10
    - tmf_curvature_1
    - tti_proxy_v1_21
    - tti_proxy_slope_1
    - tti_proxy_slope_5
    - long_flow_score_20
    - short_flow_score_20
    - delta_flow_20
    - flow_activity_20
    - flow_bias_20
    - long_burst_20
    - short_burst_20
    - persistence_pos_20
    - persistence_neg_20
    - oscillation_index_20
    - respect_fail_balance_20
    - rec_tmf_zero_up_20
    - rec_tmf_zero_down_20
    - rec_tmf_burst_up_20
    - rec_tmf_burst_down_20
    - state_run_length
  scaler: standard
  scaling_scope_default: global
  split_mode_default: none
  min_sequence_length: 100
  hmm:
    n_components_default: 5
    covariance_type: diag
    n_iter: 200
    tol: 1.0e-3
    random_state: 42
  sweep:
    components_default: [4, 5, 6, 8]
  stability:
    seeds_default: 5
    seed_start_default: 42
